.header {
    height: 80px;
    width: 100%;
    color: black;
    padding: 20px 80px;
    display: inline-flex;


    .header-logo {
        text-align: center;

        &:hover {
            opacity: 0.8;
      }
    }


    .header-options {
        justify-content: flex-start;
        display: flex;
        padding-right: 50px;
        height: 60%;

        .link {
            margin: 10px 10px;
            text-decoration: none;
            
            &:hover {
                  opacity: 0.6;
            }
        }
    }
    
    :visited {
        color: black;
    }

}